body {
   background-color:black;
  }
h1{
  color: Red;
  font-size:50px;
  text-align:center;
  }
p1 {
  color: red;
  font-size:25px;
  text-align:center;
  }
p2 {
   color: red;
   font-family: "Times New Roman", Times, serif;
   font-size:20px;
   text-align:center;
   }
h2{
  color: red;
  font-size:50px;
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  }
p3{
  color: red;
  font-family:"Times New Roman", Times, serif;
  font-size:25px;
  text-align:center;
  }
h3{
  color: red;
  font-size:50px;
  font-family:"Times New Roman", Times, serif;
  text-align:center;
  }
p4{
  color: red;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  }
h4{
  color: red;
  font-size:50px;
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  }
p5{
  color: red;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  }

p6{
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align:center;
  }




